@import '~bootstrap/scss/bootstrap';
@import './custom.scss';

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
@mixin animate($name, $duration, $iteration, $direction) {
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -o-animation-duration: $duration;
  animation-duration: $duration;
  -webkit-animation-iteration-count: $iteration;
  -moz-animation-iteration-count: $iteration;
  -o-animation-iteration-count: $iteration;
  animation-iteration-count: $iteration;
  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  -o-animation-name: $name;
  animation-name: $name;
  -webkit-animation-direction: $direction;
  -moz-animation-direction: $direction;
  -o-animation-direction: $direction;
  animation-direction: $direction;
}
@mixin change {
  @include animate(change, 15s, infinite, ease-in-out);
}

.homepage-container {
  margin-top: 5%;
  padding: 2%;
  background-color: #fff;
}

@keyframes change {
  0% {
    transform: translate(0%, 50%);
  }
  50% {
    transform: translate(100%, 50%);
  }
  100% {
    transform: translate(0%, 50%);
  }
}
body {
  background: linear-gradient(-45deg, #52af77, #64bd87, #82d4b2, #81ccb9);
  background-size: 400% 400%;
  position: relative;
  @include change;
}

@include keyframes(change) {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.title {
  margin-bottom: 1%;
  display: flex;
  justify-content: center;

  h1 {
    align-self: center;
  }
}

.disclaimer {
  align-self: center;
  text-align: center;
  margin: 2%;
  h2 {
    font-size: 1.8rem;
  }
  button {
    font-size: 1.2rem;
    padding: 15px;
    margin: 2%;
  }
}

.desktop {
  display: flex;
}

.mobile {
  display: none;
}
.col-6 {
  display: none;
  width: 0;
  height: 0;
}

@media screen and (max-width: 1200px) {
  .title {
    h1 {
      font-size: 1.8rem;
    }
  }

  label.form-label {
    font-size: 1.2rem;
  }

  .form-control-lg {
    font-size: 1.1rem;
  }

  .disclaimer {
    h2 {
      font-size: 1.5rem;
    }
    button {
      font-size: 1.1rem;
      padding: 10px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .title {
    h1 {
      font-size: 1.8rem;
    }
  }

  label.form-label {
    font-size: 1.2rem;
  }

  .form-control-lg {
    font-size: 1.1rem;
  }

  .disclaimer {
    h2 {
      font-size: 1.5rem;
    }
    button {
      font-size: 1.1rem;
      padding: 10px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .mobile {
    display: flex;
  }

  body {
    background: white;
  }

  .title {
    h1 {
      font-size: 1.4rem;
      margin: 3%;
    }
  }

  .disclaimer {
    h2 {
      font-size: 1.3rem;
    }
    button {
      font-size: 1rem;
      padding: 10px;
    }
  }
}

@media screen and (max-width: 575px) {
  .homepage-container {
    margin: 0;
  }

  label.form-label {
    font-size: 1rem;
  }
  .form-control-lg {
    font-size: 0.9rem;
  }
}
